@model MaoUpFind.ViewModels.MemberCenter.VM修改密碼

@{
    ViewBag.Title = "重設密碼";
}

@* 前端自動欄位驗證 *@
<script src="~/Scripts/Jquery/jquery.validate.js"></script>
<script src="~/Scripts/Jquery/jquery.validate.unobtrusive.js"></script>


<link href="~/Content/Login.css" rel="stylesheet" />

<div>
    <nav aria-label="breadcrumb" style="padding-left: 15px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">重設密碼</li>
        </ol>
    </nav>
</div>

<!--要做的頁面的內容 -->
<div class="container mt-5 col-md-4">
    <div class="row justify-content-center">
        <div class="mt-2 mb-2" style="background-color: white;">
            @using (Html.BeginForm("ForgetPasswordChecked", "Home", FormMethod.Post, new { @class = "row justify-content-center", style = "background: white;" }))
            {
                <h5 class="text-center" style="color:#515151; margin:2rem;">重設密碼</h5>
                <div class="form-group col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon me-3">
                            <img src="~/Images/member/member01.svg" alt=""
                                 style="width:20px; height:16px; display:inline-flex">
                        </span>
                        @*@Html.EditorFor(model => model.會員帳號, new { htmlAttributes = new { @class = "form-control form-reg", placeholder = "帳號", required = true } })*@
                        <input type="text" id="" class="form-control form-reg" placeholder="帳號" value="@Session["ForgetPasswordAccount"]" disabled>
                    </div>
                    
                </div>
                <div class="form-group col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon me-3">
                            <img src="~/Images/member/member02.svg" alt=""
                                 style="width:20px; height:16px; display:inline-flex">
                        </span>
                        @Html.EditorFor(model => model.新密碼, new { htmlAttributes = new { @class = "form-control form-reg", placeholder = "輸入新密碼", required = true } })
                        @*<input type="text" id="" class="form-control form-reg" placeholder="帳號">*@
                    </div>
                    @Html.ValidationMessageFor(model => model.新密碼, "", new { @class = "text-danger ms-5" })
                </div>

                <div class="form-group col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon me-3">
                            <img src="~/Images/member/member02.svg" alt=""
                                 style="width:20px; height:16px; display:inline-flex">
                        </span>
                        @Html.EditorFor(model => model.確認新密碼, new { htmlAttributes = new { Type = "password", @class = "form-control form-reg", placeholder = "確認新密碼", required = true } })
                        @*<input type="text" id="" class="form-control form-reg" placeholder="密碼">*@
                    </div>
                    @Html.ValidationMessageFor(model => model.確認新密碼, "", new { @class = "text-danger ms-5" })
                </div>

                <div class="row">
                    <div class="col-mb-12">
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-secondary save mb-1" type="submit">送 出</button>
                            <p class="text-danger text-center mb-5">@ViewBag.Message</p>


                        </div>
                    </div>
                </div>




            }
        </div>
    </div>
</div>
