@model MaoUpFind.ViewModels.VM_Bulletin03_DetailView
@{
    var userData = ViewBag.UserData;
}
<title>查詢專欄-詳細資料</title>
<link href="~/Content/Adoption02_b.css" rel="stylesheet" />

<!-- 這裡面放各頁面主要內容 -->
<body class="bulletin_background">
    <div class="container min-h-100pct mt-3">

        <!--麵包屑-->
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#">線上通報</a></li>
                    <li class="breadcrumb-item active" aria-current="page">查詢專欄</li>
                </ol>
            </nav>
        </div>


        <div class="row justify-content-around">
            <!-- 左邊 -->
            <div class="info col col-xl-7 p-4">
                <!-- 圖片區 -->
                <div class="row justify-content-around">
                    <div class="col-md-8">
                        <img src="~/FileUpload/@Model.附件一" class="card-img" alt="...">
                    </div>
                    <div class="col col-md-4">
                        <img src="~/FileUpload/@Model.附件二" alt="">
                        <img src="~/FileUpload/@Model.附件三" alt="">
                    </div>
                </div>
                <!-- 內容 -->
                <h3 class="m-3">@Model.通報標題</h3>
                <p style="border: rgb(206, 137, 10) 1px solid; width: 70%; margin: 16px;"></p>
                <p><img src="~/Images/svg/geo-alt.svg" alt="" width="32" class="mx-2"> @Model.發生地點_全</p>
                <p><img src="~/Images/svg/calendar3.svg" alt="" width="32" class="mx-2"> @Model.通報時間</p>
                <p><img src="~/Images/svg/alarm.svg" alt="" width="32" class="mx-2"> @Model.急迫性</p>
                <div class="d-flex">
                    <div class="mx-2">
                        <img src="~/Images/svg/card-text.svg" alt="" width="32">
                    </div>
                    <div>@Model.狀況概述</div>
                </div>
            </div>

            <!-- 右邊 留言板 -->
            <div class="col-xl-5 p-4">
                <div class="board bg-light border" style="height: 600px;">
                    <div class="d-flex justify-content-center mb-4 ">
                        <h2>留言</h2>
                    </div>
                    <div class="board-body overflow-auto ps-3">
                        <div class="" id="testBoardBody">
                            @Html.Action("MessageBoard", new { id = Model.通報編號, number = Model.通報單號, bId = Model.會員編號 })
                        </div>
                        @* 資料 *@
                    </div>
                    <form id="testForm">
                        <input type="hidden" value="@Model.通報編號" name="來源編號" />
                        <input type="hidden" value="@Model.通報單號" name="來源單號" />
                        <input type="hidden" value="@userData.會員編號" name="會員編號" id="userID" />  @*留言的人*@
                        <div class="board-foot d-flex align-items-center">
                            @*<div class="">*@
                            <div class="col-12 d-flex p-2">
                                <div class="col-2">
                                    @Html.DropDownList("是否公開", GetddItemData.是否公開(), new { @class = "form-select", Width = "25px" })
                                </div>
                                <div class="col-2">
                                    @* 是否不能修改 *@
                                    <input type="text" id="userName" name="userName" class="form-control" placeholder="稱呼" value="@userData.會員暱稱">
                                </div>
                                <div class="col-8">
                                    <input type="text" id="formContent" name="留言內容" class="form-control" placeholder="輸入內容">
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


    <script>
    ; (function () {
        setScrollTop();
    })()
    function setScrollTop() {
        var height = $("div #testBoardBody").height();
        $("div .board-body").scrollTop(height);
    }
    var i_content = document.getElementById("formContent");
    i_content.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            var cont = $("#formContent").val();
            var id = $("#userID").val();
            if (id == 0) {
                alert("請登入會員!")
                return false;
            }
            if (cont != "") {
                event.preventDefault();
                $.ajax({
                    url: "@Url.Action("MessageBoard", "Bulletin03")",
                    type: 'POST',
                    data: $("#testForm").serialize(),
                    async: false,
                    success: function (data) {
                        // 清空元素內的資料並填入新的資料
                        $('div #testBoardBody').empty().html(data);
                        // 清空內容欄位
                        $("#formContent").val("");
                        // 更新高度
                        setScrollTop()
                    }
                })
            } else {
                alert("請輸入內容!");
            }
        }
    })
    </script>
